RewriteEngine On
RewriteBase /

# Si le fichier ou le répertoire demandé existe, ne pas réécrire
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les autres requêtes vers index.php
RewriteRule ^ index.php [QSA,L]
